body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: #f7f2ed; */
}
.filter-search-btn{
  font-size: 20px;
  font-weight: 500;
  background-color: #abff00;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.filter-search-btn:focus{
  outline: none;
  box-shadow: none;
}
.search-bar-filter:focus{
  border: transparent;
  outline: 0;
}
.findName .title{
    color: black;   
}
.findName .trust-pilot h4{
 font-size: 2rem;
}

.container .subjectName{
margin-left: 10%;
}
.findText{
    margin-right: 50%;
}
.input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-field {
    padding-left: 30px; /* Adjust this value based on your icon size */
    width: 50%;
    
  }
  
  .icon {
    position: absolute;
    left: 20px; /* Adjust this value to position the icon */
    top: 50%;
    transform: translateY(-50%);
    
  }
  .custom-checkbox {
    width: 266px;
    height: 254px;
    position: relative;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
  }

  .custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .custom-checkbox label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .findButton a{
    font-size: 1.6rem;
    background-color: rgba(171, 255, 0, 1) !important;
  }
  #bg-btn-action{
    background-color: rgba(171, 255, 0, 1) !important;
    border: rgba(171, 255, 0, 1);
    box-shadow: 0px 0px 0px transparent;
  }
  
  .speaktutor h2{
    font-size: 2.2rem;
    font-weight: 600;
  }
  .rs-container .rs-selected{
    background-color: rgba(171, 255, 0, 1) !important;
    border: 1px solid rgba(171, 255, 0, 1) !important;
  }


  input[type="checkbox"]{
    transform: scale(1.5);
    accent-color: rgba(13, 153, 255, 1);
    box-shadow: none;
  }

  .range-input{
    display: flex;
  }

  .filter-clear{
    background-color: #F7F8FC;
  }
  

  .tutor-icons a{
    background-color: #F7F8FC;
    /* width: 170px; */
    margin-right: 1rem;
  }

 

   /* @media screen and (max-width: 580px) {
    .tutor-profile-image img{
      width: 150px !important;
    }
  }  */
  .correctiocn{

    width: 30px;
    height: 30px;
}
.dollor{
 color:  #6cbaf2;
}
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
} */
.custom-button {
    width: 197px;
    height: 40px; 
    background-color:#f7f8fc;
    text-align: center;
    border: none;
    cursor: pointer;
  }

  .button-img {
    max-width: 100%;
    max-height: 100%;
  }
  .button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .button1 {
  width: 134px;
  height: 40px;
    background-color: #ffffff;
    color: #999999;
    border: solid  #999999;
  }
  .button1:focus,.button2:focus{
    outline: none;
   box-shadow:none; 
  }
  #outline-remove{
    outline: none;
    box-shadow: none;
  }
  .button2 {
    width: 195px;
    height: 40px;
    background-color: #abff00;
    color: white;
    border: none;
    color:  black;
  }
  